$body-bg: #626f80;
$body-color: #666;
$icon-color: #666;
$link-color: #888;
$badge-color: #6724e6;
$hover-bg-color: #e3e8ee;
$border-color: #f1f1f1;
$sidebar-bg-color: #626f80;
$sidebar-menu-color: #ffffff;

$font-family-sans-serif: "Open Sans", sans-serif;
